@model IEnumerable<BlogApp.Models.User>

<h2>Users</h2>
@* <a href="/User/Create">Add New User</a> *@

<button style="color: #28a745;" onclick="location.href='/User/Create'">Add New User</button>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Username</td>
                <td>@user.Email</td>
                @if (user.Id != 1)
                {
                <td>
                    <a href="/User/Edit/@user.Id">Edit</a> |
                    <a href="/User/Delete/@user.Id">Delete</a>
                </td>
                }
            </tr>
        }
    </tbody>
</table>
